/* 1️⃣ Google Font import must be first */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* 2️⃣ Tailwind + DaisyUI */
@import "tailwindcss";
@plugin "daisyui";

/* 3️⃣ DaisyUI themes */
@plugin "daisyui/theme" {
  name: "dark";
  default: true; 
    --p: 59 130 246;  
    --pf: 37 99 235;     
    --b1: 31 41 55;   
    --b3: 17 24 39;  
    --bc: 249 250 251; 
    --nc: 156 163 175; 
    --s: 156 163 175;  
    --a: 37 99 235; 
}

@plugin "daisyui/theme" {
  name: "light";
    --p: 59 130 246;
    --pf: 37 99 235;       
    --b1: 255 255 255; 
    --b3: 243 244 246;  

    --bc: 17 24 39;    
    --nc: 107 114 128; 

    --s: 107 114 128; 
    --a: 37 99 235;  
}

/* 4️⃣ Global styles */
body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.active{
  background: red;
}


