/* 1️⃣ Google Font import must be first */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* 2️⃣ Tailwind + DaisyUI */
@import "tailwindcss";
@plugin "daisyui";

/* 3️⃣ DaisyUI themes */

@plugin "daisyui/theme" {
  name: "dark";

  --color-base-100: #111621;
  --color-base-200: rgba(30, 41, 59, 0.75);
  /* glass card */
  --color-base-300: #1f2937;
  --color-base-content: #ffffff;

  --color-primary: #2463eb;
  --color-primary-content: #ffffff;

  --color-neutral: rgba(17, 22, 33, 0.8);
  --color-neutral-content: #ffffff;

  --color-success: #22c55e;
  --color-warning: #f59e0b;
  --color-error: #ef4444;

  --text-success: #a7f3d0;
  --text-warning: #fcd34d;
  --text-error: #fca5a5;
  --text-info: #93c5fd;
  --text-muted: #d1d5db;

}


@plugin "daisyui/theme" {
  name: "light";

  --color-base-100: #f6f6f8;
  --color-base-200: #ffffff;
  --color-base-300: #e5e7eb;
  --color-base-content: #0f172a;

  --color-primary: #2463eb;
  --color-primary-content: #ffffff;

  --color-neutral: #f8fafc;
  --color-neutral-content: #0f172a;

  --color-success: #22c55e;
  --color-warning: #f59e0b;
  --color-error: #ef4444;

  --text-success: #166534;
  --text-warning: #78350f;
  --text-error: #991b1b;
  --text-info: #0c4a6e;
  --text-muted: #6b7280;

}


/* 4️⃣ Global styles */
body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.active {
    @apply bg-primary/10 text-info font-semibold rounded-lg px-3 py-1.5 transition-all;
}